body
{
  color: white;
  background-image:url("1586344.jpg");
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size:50px;
  border-radius: 10;
  letter-spacing: 10px;
}
.capture_image{
  margin-bottom: 20px;
  background-color: white;
  color:black;
}
label{
  font-size:30px;
  color:white;
  background-color: turquoise;
  border-radius: 10px;
  padding:12px;
  
}
.prediction{
  font-size: 20px;
}
.p{
  font-size:30px;
  color:white;
  background-color: turquoise;
  border-radius: 10px;
  padding:6px;
  cursor: pointer;
}